
db.lock
PatternsAndPractices/.vs/PatternsAndPractices/v15/Server/sqlite3/storage.ide-shm
PatternsAndPractices/.vs/PatternsAndPractices/v15/.suo
PatternsAndPractices/.vs/PatternsAndPractices/DesignTimeBuild/.dtbcache
